h1{
    font-family: "helvetica";
    font-weight: bold;
    font-size: 40px;
    color:rgb(53, 53, 53);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 25px;
    padding: 0;
    margin: 0;
    background-color: rgb(241, 241, 241);
}